body {
    margin: 0;
    background: linear-gradient(to right, #d7eaff, #00d4ff);

    header {
        height: 10%;
        ;
        background-color: cornflowerblue;

        div {
            padding: 0 50px;
            height: 100%;
            display: flex;

            img {
                width: 10%;
            }

            .town {
                width: 35%;
                height: 33%;
                text-align: center;
                font-size: 1.5em;
                margin: auto;
                border-radius: 15px;
                border: none;
            }

            .unité {
                width: 5%;
                height: 33%;
                font-size: large;
                text-align: center;
                margin: auto 0;
            }

        }
    }

    main {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #meteo-curr {
        margin-top: 30px;
        width: 30%;
        background-color: skyblue;
        border-radius: 15px;
        .error {
            color: red;
            text-align: center;
            text-decoration: underline;
        }
        .cityName {
            width: 100%;
            font-size: 1.5em;
            border: none;
            margin: 0;

            h2 {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                margin: 0;
                padding-left: 10px;
                color: #fff;    
                background-color: cornflowerblue;
                ;
            }
        }

        .cityTemp {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 10px 16px;
            
            .icon {
                text-align: right;
                img{
                    width: 70px;
                }
            }

            .temps {
                text-align: left;
                border: none;
                p{
                    color: #fff;
                    font-size: 32px;
                    margin: 0;
                }
            }
        }
    }

    #meteo-jour{
        width:30%;
        margin-top: 30px;
        background-color: #ffff;
        border-radius: 15px;
        .error {
            color: red;
            text-align: center;
            text-decoration: underline;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
            .location{
                padding: 16px;
            }
            .Tressenti{
                display: flex;
                flex-direction: column;
                margin: 0 16px;
                .Tressenti-temp{
                    font-size: 32px;
                }
                .Tressenti-index{
                    font-size: 12px;
                }
            }
            .meteo{
                border-top: 1px solid #dedede;
            padding: 10px 16px;            }
        }
    }
}