body {
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#d7eaff), to(#00d4ff));
  background: linear-gradient(to right, #d7eaff, #00d4ff);
}
body .header {
  height: 10%;
  background-color: cornflowerblue;
}
body .header div {
  margin: 0 auto;
  padding: 11px 11px 11px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
body .header div img {
  width: 10%;
}
body .header div .submit {
  margin: auto 36% auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .header div .submit .town {
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 15px;
  border: none;
}
body .header div .submit .button-town {
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
body .header div .submit .button-town:hover {
  background-color: grey;
  color: #fff;
}
body .header div .submit .button-town:active {
  background-color: grey;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
body main {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body #meteo-curr {
  width: 50%;
  margin-top: 30px;
  background-color: skyblue;
  border-radius: 15px;
}
body #meteo-curr .error {
  color: red;
  text-align: center;
  text-decoration: underline;
}
body #meteo-curr .cityName {
  width: 100%;
  font-size: 1.5em;
  border: none;
  margin: 0;
}
body #meteo-curr .cityName h2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0;
  padding-left: 10px;
  color: #fff;
  background-color: cornflowerblue;
}
body #meteo-curr .cityTemp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 16px;
}
body #meteo-curr .cityTemp .icon {
  text-align: right;
}
body #meteo-curr .cityTemp .icon img {
  width: 70px;
}
body #meteo-curr .cityTemp .temps {
  text-align: left;
  border: none;
}
body #meteo-curr .cityTemp .temps p {
  color: #fff;
  font-size: 32px;
  margin: 0;
}
body #meteo-jour {
  width: 50%;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
}
body #meteo-jour .error {
  color: red;
  text-align: center;
  text-decoration: underline;
}
body #meteo-jour ul {
  margin: 0;
  padding: 0;
}
body #meteo-jour ul li {
  list-style: none;
}
body #meteo-jour ul .location {
  padding: 16px;
}
body #meteo-jour ul .Tressenti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 16px;
}
body #meteo-jour ul .Tressenti .Tressenti-temp {
  font-size: 32px;
}
body #meteo-jour ul .Tressenti .Tressenti-index {
  font-size: 12px;
}
body #meteo-jour ul .meteo {
  border-top: 1px solid #dedede;
  padding: 10px 16px;
}
body #meteo-week {
  width: 50%;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
}
body #meteo-week .meteo-week {
  padding: 16px;
}
body #meteo-week .error {
  color: red;
  text-align: center;
  text-decoration: underline;
}
body #meteo-week .prevision-quotidienne ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}
body #meteo-week .prevision-quotidienne ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  border-style: solid;
  border-width: 0 1px 0 0;
  padding: 0 5px;
  -o-border-image: linear-gradient(180deg, hsla(0deg, 0%, 87.1%, 0) 0, #dedede 25%, #dedede 70%, hsla(0deg, 0%, 87.1%, 0) 85%, hsla(0deg, 0%, 87.1%, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsla(0deg, 0%, 87.1%, 0)), color-stop(25%, #dedede), color-stop(70%, #dedede), color-stop(85%, hsla(0deg, 0%, 87.1%, 0)), to(hsla(0deg, 0%, 87.1%, 0))) 1 100%;
     border-image: linear-gradient(180deg, hsla(0deg, 0%, 87.1%, 0) 0, #dedede 25%, #dedede 70%, hsla(0deg, 0%, 87.1%, 0) 85%, hsla(0deg, 0%, 87.1%, 0)) 1 100%;
}
body #meteo-week .prevision-quotidienne ul li .prevision-quotidienne-ajd-min {
  font-size: 12px;
}
body #meteo-week .prevision-quotidienne ul li .prevision-quotidienne-demain-min {
  font-size: 12px;
}
body #meteo-week .prevision-quotidienne ul li .prevision-quotidienne-apdem-min {
  font-size: 12px;
}
body #meteo-week .prevision-quotidienne ul li .prevision-quotidienne-3jours-min {
  font-size: 12px;
}
body #meteo-week .prevision-quotidienne ul li .prevision-quotidienne-4jours-min {
  font-size: 12px;
}
body #meteo-comparaison {
  width: 50%;
  margin: 30px auto;
  border-radius: 15px;
}
body #meteo-comparaison .submit2 {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body #meteo-comparaison .submit2 .town {
  text-align: center;
  font-size: 1.5em;
  border-radius: 15px;
  border: none;
}
body #meteo-comparaison .submit2 .button-town2 {
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
body #meteo-comparaison .submit2 .button-town2:hover {
  background-color: grey;
  color: #fff;
}
body #meteo-comparaison .submit2 .button-town2:active {
  background-color: grey;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
body #meteo-comparaison .town {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;
  border-radius: 15px;
  border: none;
  margin-bottom: 10px;
}
body #meteo-comparaison .comparaison {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
body #meteo-comparaison .comparaison #table-city1 table {
  background-color: white;
  border-radius: 15px;
  padding: 10px 16px;
}
body #meteo-comparaison .comparaison #table-city1 table h4 {
  text-align: center;
  text-decoration: underline;
  margin: 0 auto 10px;
}
body #meteo-comparaison .comparaison #table-city2 table {
  background-color: white;
  border-radius: 15px;
  padding: 10px 16px;
}
body #meteo-comparaison .comparaison #table-city2 table h4 {
  text-align: center;
  text-decoration: underline;
  margin: 0 auto 10px;
}/*# sourceMappingURL=style.css.map */